<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="NFineDbContext" connectionString="Server=.;Initial Catalog=NFineBase;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />-->

  <add name="NFineDbContext" connectionString="User Id=root;host=.;Database=nfinebase;password=Mysql123456.;port=3306;persist security info=True;character set=utf8;" providerName="MySql.Data.MySqlClient"/>

</connectionStrings>